@import './base.css';

#app {
  width: 100%;
  background-color: #FAFAFC;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #F30168;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #a00748;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
